@import "theme.scss";


.card {
  
  background: map-get($colors,cardBg) !important;
  box-shadow: 0 8px 32px 0 map-get($colors,cardShadow) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 10px;
  /*animation: cardReveal ease-in;
  animation-duration: 1s;*/

}


// @keyframes cardReveal{
//   from {opacity: 0.25;
//   position:absolute;}
//   to {opacity: 1;}
// }

.cardActions {
  background: map-get($colors,cardActionsbg) !important;
}

.infoButton {
  font-weight: 600 !important;
}

.infoButton:hover {
  background-color: map-get($colors,infoButtonHoverBG) !important;
  transition: 1.5s;
}

.textFieldUrl {
  background-color: map-get($colors,cardBg) !important;
  padding: 2px 0px !important;
  margin-right: 5px !important;
  border: 1px solid;
}

.btnUrl {
  background-color: map-get($colors,btnUrlBgColor) !important;
}
